bin/Debug/net10.0/TerminalCalculatorReimagined.deps.json
bin/Debug/net10.0/TerminalCalculatorReimagined.dll
bin/Debug/net10.0/TerminalCalculatorReimagined.exe
bin/Debug/net10.0/TerminalCalculatorReimagined.pdb
bin/Debug/net10.0/TerminalCalculatorReimagined.runtimeconfig.json
obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Debug/net10.0/apphost.exe
obj/Debug/net10.0/ref/TerminalCalculatorReimagined.dll
obj/Debug/net10.0/refint/TerminalCalculatorReimagined.dll
obj/Debug/net10.0/TerminalCalculatorReimagined.AssemblyInfo.cs
obj/Debug/net10.0/TerminalCalculatorReimagined.AssemblyInfoInputs.cache
obj/Debug/net10.0/TerminalCalculatorReimagined.assets.cache
obj/Debug/net10.0/TerminalCalculatorReimagined.csproj.CoreCompileInputs.cache
obj/Debug/net10.0/TerminalCalculatorReimagined.csproj.FileListAbsolute.txt
obj/Debug/net10.0/TerminalCalculatorReimagined.dll
obj/Debug/net10.0/TerminalCalculatorReimagined.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0/TerminalCalculatorReimagined.genruntimeconfig.cache
obj/Debug/net10.0/TerminalCalculatorReimagined.GlobalUsings.g.cs
obj/Debug/net10.0/TerminalCalculatorReimagined.pdb
obj/Debug/net10.0/TerminalCalculatorReimagined.sourcelink.json
